<!DOCTYPE html>
<html lang="en" ng-app="profileApp" ng-controller="MainCtrl" onclick="document.getElementById('f19').play()">
<head>
  <meta charset="UTF-8" />
  <meta name="author" content="Karama Panigoro">
  <meta name="description" content="Member F19 Page">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" href="icon.png">
  <title>Frico Julius Massing</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="script.js" defer></script>
</head>
<body>
  <audio id="f19" autoplay loop>
    <source src="f19.mp3" type="audio/mpeg">
  </audio>

  <div class="center-wrapper">
    <a href="index.html" class="close-btn">←</a>
    <div class="profile-wrapper">
      <div class="profile-border"></div>
      <img src="f19.png" alt="Frico Julius Massing" class="profile-pic"/>
    </div>
    <div class="name" ng-click="showMessage()">HawKins</div>
    <div class="typing-message" ng-class="{'show': messageVisible}">Frico
    Julius Massing</div>

    <div class="social-section">
      <div class="section-title">Sosmed</div>
      <div class="socials">
        <a href="https://tiktok.com/@f19" target="_blank"><img
        src="logoTT.png"></a>
        <a href="https://wa.me/+6285394319372" target="_blank"><img
        src="logoWA.png"></a>
        <a href="https://instagram.com/f19" target="_blank"><img
        src="logoIG.png"></a>
      </div>

      <div class="section-title">Game</div>
      <div class="socials">
        <img ng-click="showGameInfo(members[0], 'ff')"
        src="logoFF.png">
        <img ng-click="showGameInfo(members[0], 'ml')"
        src="logoML.png">
        <img ng-click="showGameInfo(members[0], 'mc')"
        src="logoMC.png">
      </div>
    </div>
  </div>

  <div class="game-popup" ng-class="{'show': gamePopupVisible}">
    <div class="popup-content">
      <div>{{gameTitle}}</div>
      <div>{{gameId}}</div>
      <div>{{gameUsername}}</div>
    </div>
  </div>
</body>
</html>
